*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Oxygen', sans-serif !important;
}

.userItem{
font-size: 18px;

}
.items{
    padding: 15px;
    background-color: #f7f7f7;
    margin-bottom: 15px;
    border-radius: 5%;
    box-shadow: -1px 2px 15px -4px #000000;

}

#addContainer{
    background-color: #f7f7f7;
    border-radius: 06%;
    padding: 35px;
    margin: 14px;
    height: 320px;
    box-shadow: -1px 2px 15px -4px #000000;
  }

#removeContainer{
    background-color: #f7f7f7;
    border-radius: 06%;
    padding: 35px;
    margin: 14px;
    box-shadow: -1px 2px 15px -4px #000000;

}



.btn-add{
    background-color: #0a5c25 !important;
    color: #ffffff !important;
    font-weight: 600 !important;
}
.btn-add:hover{
    background-color:  #f7f7f7 !important;
    color:#0a5c25 !important;
    border: solid 1px #0a5c25 !important
}


.btn-danger{
    background-color: #b10404 !important;
    color: #ffffff !important;
    font-weight: 600 !important;
}


.btn-danger:hover{
    background-color: #ffffff !important;
    color: #b10404 !important;
    font-weight: 600 !important;
}


.deleteContainer{
    display: none;
}

#modifyForm{
    display: none;
}
